canvas {
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  #document{
   padding: 0px
  }

 #arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: none;
 }

 img {  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
 }

 html, body {
   width: 100%;
   height: 100%;
 }